*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#ant specific
ProdStock/ProdStock-ejb/dist/
ProdStock/ProdStock-war/dist/
ProdStock/dist/

ProdStock/ProdStock-ejb/build/
ProdStock/ProdStock-war/build/
ProdStock/build/

ProdStock/ProdStock-ejb/nbproject/private/
ProdStock/ProdStock-war/nbproject/private/
ProdStock/nbproject/private/

ProdStock/ProdStock-ejb/nbbuild/
ProdStock/ProdStock-war/nbbuild/
ProdStock/nbproject/nbbuild/

ProdStock/ProdStock-ejb/nbdist/
ProdStock/ProdStock-war/nbdist/
ProdStock/nbproject/nbdist/

ProdStock/ProdStock-ejb/dist/
ProdStock/ProdStock-ejb/build/

#netbeans specific
ProdStock/core
ProdStock/nbproject/*
!ProdStock/nbproject/project.properties
!ProdStock/nbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock